section {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-style: italic;
}

.long {
    width: 70%;
}

.short {
    width: 150px;
}

p {
    height: 40px;
    line-height: 40px;
}

p > span {
    height: 40px;
}